// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #61a9d8;
  color:#8d0606;
}

.bottom a{
  color:#e3c150;
  
}